# Virtual environment
/venv/
/.venv/

# Database file
/instance/*.db
/instance/*.sqlite
/instance/*.sqlite3

# Byte-compiled Python files
__pycache__/
*.pyc

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db